rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow public read access to most collections
    match /{document=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    // Restrict write access to the 'admins' collection to authenticated users
    match /admins/{adminId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }

    // Restrict access to contact requests to authenticated users
    match /contactRequests/{requestId} {
      allow read, write: if request.auth != null;
    }
  }
}