@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{

  #root{
    white-space: pre-line;
  }

  html,body {
    scroll-behavior: smooth;
    @apply bg-orange-100;

    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

  }

  nav.scrolled {
    @apply shadow-2xl;
    border-bottom: 0px;
  }

  .is-active{
    @apply border-b-4 border-orange-500;
  }
  
  li.nav-list{
    @apply p-4
  }

  a.navlinks{
    @apply hover:border-b-4 hover:rounded-sm hover:border-orange-500 transition ease-in-out focus:border-orange-500 p-4
  }

  button.main{
    @apply text-white border bg-orange-500 border-orange-500 hover:bg-white hover:text-orange-500 focus:bg-white focus:text-orange-500 rounded-full px-8 py-3 hover:-translate-y-0 hover:scale-110 transition ease-in-out delay-150 duration-300 hover:shadow-lg
  }

  button.submit{
    @apply text-white border bg-orange-500 border-orange-500 hover:bg-white hover:text-orange-500 focus:bg-white focus:text-orange-500 rounded-full px-8 py-3 hover:-translate-y-0 hover:scale-110 transition ease-in-out delay-150 duration-300 hover:shadow-lg
  }

  button.whatsapp{
    @apply bg-green-600 border-green-600 hover:bg-white hover:text-green-600 hover:-translate-y-0 hover:scale-110 transition ease-in-out delay-150 duration-300 hover:shadow-lg
  }

  picture{
    @apply transition duration-300 ease-in-out delay-150 hover:-translate-y-0 hover:scale-110
  }
}
.carousel-root {
  width: 65%;
  margin: auto;
}

.carousel .slide {
  height: 100%;
}

.myCarousel {
  width: 55%;
  margin-left: auto;
  margin-right: auto;
}

.carousel .control-dots .dot {
  background: #454545;
}

.carousel.carousel-slider .control-arrow {
  background: #000;
  height: 50px;
  position: absolute;
  top: 50%;
}

@media only screen and (max-width: 934px) {
  .carousel-root {
    outline: 0;
    width: 93%;
    margin: auto;
  }

  .carousel.carousel-slider .control-arrow {
    display: visible;
  }
  .myCarousel {
    background: #fafafa;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ddd;
    height: 269px;
  }
}

.whatsapp_float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.whatsapp-icon {
  margin-top: 16px;
}

.intl-tel-input{
 @apply w-full px-3 py-1 text-base leading-8 text-gray-700 transition-colors duration-200 ease-in-out bg-white border-2 rounded-lg outline-none border-neutral-500 focus:border-red-500 !important
}

